<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <div class="card border-0" style="width: 18rem;">
                <div class="d-flex justify-content-center">
                    <img src="../../assets/perfil.jpg" class="card-img-top rounded-circle w-75" alt="Foto do usuário">
                </div>
                
                <div class="card-body">
                  <h5 class="card-title text-center">Evandro Bolzan</h5>
                  <p class="card-text text-center">Desenvolvedor web FULLSTACK</p>
                  <a href="https://github.com/ebolzan" target="_blank" class="btn btn-outline-dark d-flex justify-content-center">Github</a>
                  <hr class="mt-4 md-4">
                  <h6 class="mb-3 text-monospace text-center">Pesquisar por titulo</h6>
                  <input type="text" class="form-control mb-3 w-100">
                  <input class="btn btn-outline-warning w-100" value="Pesquisar">
                </div>
              </div>
        </div>

        <div class="col-md-8">

            <div>
                <h3 class="text-center mb-4 text-monospace">Digite abaixo seu comentários</h3>
                <div class="form-group mb-3">
                    <label for="titulo" class="text-monospace">Título</label>
                    <input type="text" name="titulo" id="titulo" placeholder="Digite o título da postagem" class="form-control">
                </div>

                <div class="form-group mb-3">
                    <label for="texto" class="text-monospace">Texto</label>
                    <textarea name="texto" id="texto" placeholder="Digite o text da postagem" cols="30" rows="4" class="form-control"></textarea>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-info w-25">Publicar</button>
                </div>
            </div>

            <hr class="mt-5 mb-5">
            <h3 class="text-center mb-5 text-monospace">Comentários adicionados</h3>

        </div>
    </div>
</div>